.size {
	font-size: 1.9em
}

.size2 {
	font-size: 1.0em
}

#menu {
	display: block;
	height: 40px;
	text-decoration: solid;
	border-style: inset;
	background-color: black;
	text-align: right;
}

#menu a {
	text-decoration: none;
	text-align: right;
}

#menu ul {
	padding: 1px;
	margin: 1px;
	list-style: none;
	font-size: 1.4em;
	font-weight: 600;
}

#menu li {
	float: left;
	position: relative;
	padding-right: 20px;
	display: block;
	border: none;
}

#menu li ul {
	display: none;
	position: absolute;
	border-style: solid;
}

#menu li:hover ul {
	display: block;
	position: center;
	background-color: gray;
	height: auto;
	width: auto;
}

#menu li ul li {
	clear: both;
	border-style: none;
}

#wrapper {
	height: 40px;
	display: block;
	text-decoration: solid;
	text-align: left;
	text-decoration-style: double;
	font-size: 1.9em;
	background-image: url('Trading.jpg');
}

body {
	padding: 10px;
	font-family: verdana;
	font-size: 8pt;
}

select {
	font-family: verdana;
	font-size: 12pt;
	width: 150px;
	height: 100px;
	background-color: white;
}

input {
	text-align: center;
	v-align: middle;
}

html {
	background: url('Backgroung.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}