
<html ng-app="myApp">  

    <head lang="en">
        <meta charset="utf-8">
        <title>Stratgey UI</title>  
		
       
  		<link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    	<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.8/smart-table.min.js"></script>
    <style>
    table{
		border: 1px solid black;
		table-layout: fixed;
		width: 200px;
	}

	th, td {
		border: 1px solid black;
		overflow: hidden;
		width: 100px;
	}
	 .st-sort-ascent:before{
		content: '\25B2';
		font-size: 10px;
	  }

	  .st-sort-descent:before{
		content: '\25BC';
		font-size: 10px;
	  }
    </style>
    </head>
    
    <body ng-controller="MyCtrl">
			<table st-table="displayed" class="table table-bordered table-striped table-condensed" st-safe-src="myData"  st-watch-changes="true"> 
			  <thead> 
					<tr> 
						<th st-sort="strategyName" st-sort-default="true">Strategy</th> 
						<th>F Amt</th> 
						<th>F CCY</th> 
						<th>T CCY</th> 
						<th>T Amt</th> 
						<th st-sort="currencyPair">CCY PAIR</th> 
						<th>BID LP</th> 
						<th>BID NQty</th> 
						<th>Bid Qty</th> 
						<th>Bid</th> 
						<th>Spread</th> 
						<th>Ask</th> 
						<th>Ask Qty</th> 
						<th>Ask NQty</th> 
						<th>Ask LP</th> 
						<th>TL CCY</th> 
						<th>Trade Limit</th> 
					</tr> 
			  </thead> 
			  <tbody> 
					  <tr ng-repeat="row in displayed"> 
						<td><span class="field">{{row.strategyName}}</span></td>
						<td><span class="field">{{row.baseCurrencyValuation}}</span></td>
						<td><span class="field">{{row.baseCurrency}}</span></td>
						<td><span class="field">{{row.quoteCurrency}}</span></td>
						<td><span class="field">{{row.quoteCurrencyValuation}}</span></td>
						<td><span class="field">{{row.currencyPair}}</span></td>
						<td><span class="field">{{row.bestBidLP}}</span></td>
						<td><span class="field">{{row.startBidSize}}</span></td>
						<td><span class="field">{{row.bestBidSize}}</span></td>
						<td><span class="field">{{row.bidPrice}}</span></td>
						<td><span class="field">{{row.spread}}</span></td>
						<td><span class="field">{{row.askPrice}}</span></td>
						<td><span class="field">{{row.bestAskSize}}</span></td>
						<td><span class="field">{{row.startAskSize}}</span></td>
						<td><span class="field">{{row.bestAskLP}}</span></td>
						<td><span class="field">{{row.tradingLimitCurr}}</span></td>
						<td><span class="field">{{row.tradingLimit}}</span></td>
						
					</tr> 
			  </tbody> 
			</table>
	</body>
	<script>

   if (!window.WebSocket) {
        alert("WebSocket not supported by this browser");
        }
	var loca = "ws://"+window.location.hostname+":8445/strat";

	var myData1;

		
	var app = angular.module('myApp', ['smart-table']);
	app.controller('MyCtrl', function($scope) {
	
	var ws = new WebSocket(loca);
	var myData2;
 
    $scope.myData = [];
   
	$scope.ChangeData="false";

    ws.onmessage = function(message) {
	    myData2 = JSON.parse(message.data);
		//$scope.myData.push(myData2)
		$scope.ValueTrue(myData2)
		$scope.$apply()
		//$scope.$evalAsync();
    };
	
	$scope.ValueTrue = function(m) {
    
	var found=false;
	for(i=0;i<$scope.myData.length;i++)
	{
		var row=$scope.myData[i];
	if(row.currencyPair ==m.currencyPair && row.strategyName ==m.strategyName && row.baseCurrency ==m.baseCurrency )
	{ 
	row.strategyName = m.strategyName ;
	row.currencyPair = m.currencyPair
	row.bidPrice=m.bidPrice;
	row.askPrice=m.askPrice;
	row.baseCurrencyValuation=m.baseCurrencyValuation;
	row.quoteCurrencyValuation=m.quoteCurrencyValuation;
	row.baseCurrency=m.baseCurrency;
	row.quoteCurrency=m.quoteCurrency;
	row.grossProfitLoss=m.grossProfitLoss;
	row.tradeCost=m.tradeCost;
	row.netProfitLoss=m.netProfitLoss;
	row.noOfTrades=m.noOfTrades;
	row.spread=m.spread;
	row.bestBidSize=m.bestBidSize;
	row.bestAskSize=m.bestAskSize;
	row.startAskSize=m.startAskSize;
	row.startBidSize=m.startBidSize;
	row.tradingLimit=m.tradingLimit;
	row.tradingLimitCurr=m.tradingLimitCurr;
	row.bestAskLP=m.bestAskLP;
	row.bestBidLP=m.bestBidLP;
//	row.sequence=m.sequence;
	found =true;
	break;
	}
	}
	
	if(!found){
	  $scope.myData.push(m)
	}
  };
  
});

	</script>
	
</html>